export(
connectDatabase,
createESET,
downloadGEOdata,
GDSforGSE,
GSEforGPL,
GSEinDB,
GSMdescriptions,
loadDatabaseSchema,
loadDataToCompendium,
removeGSE,
tagExperiment,
updatePhenoData
)
import(Biobase,GEOquery,RMySQL)
