export(
connectDatabase,
checkUpdates,
createESET,
downloadGEOdata,
GDSforGSE,
GSEforGPL,
GSEinDB,
GSMdescriptions,
loadDatabaseSchema,
loadDataToCompendium,
removeGSE,
tagExperiment,
updatePhenoData
)
import(Biobase,GEOquery,RMySQL)
importFrom("methods","new")
importFrom("utils","read.delim")
